PROJECT_NAME=architecture_platform
DEBUG=true

DB_HOST=localhost
DB_PORT=5432
DB_NAME=arch_db
DB_USER=postgres
DB_PASSWORD=postgres

SECRET_KEY=supersecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30